<!-- INIT exemplo com dropdown -->
<div class="collapse" id="item-collapse">
  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 mt-2">
    <li>
      <a
        href="#"
        class="btn btn-toggle btn-light d-flex align-items-center rounded collapsed mb-2"
        ><span class="material-icons">dashboard</span> Dashboard</a
      >
    </li>
    <li>
      <a
        href="#"
        class="btn btn-toggle btn-light d-flex align-items-center rounded collapsed mb-2"
        ><span class="material-icons">dashboard</span> Dashboard</a
      >
    </li>
    <li>
      <a
        href="#"
        class="btn btn-toggle btn-light d-flex align-items-center rounded collapsed mb-2"
        ><span class="material-icons">dashboard</span> Dashboard</a
      >
    </li>
    <li>
      <a
        href="#"
        class="btn btn-toggle btn-light d-flex align-items-center rounded collapsed mb-2"
        ><span class="material-icons">dashboard</span> Dashboard</a
      >
    </li>
    <li>
      <a
        href="#"
        class="btn btn-toggle btn-light d-flex align-items-center rounded collapsed mb-2"
        ><span class="material-icons">dashboard</span> Dashboard</a
      >
    </li>
    <li>
      <a
        href="#"
        class="btn btn-toggle btn-light d-flex align-items-center rounded collapsed mb-2"
        ><span class="material-icons">dashboard</span> Dashboard</a
      >
    </li>
  </ul>
</div>
<!-- END exemplo com dropdown -->
