<ul class="list-unstyled ps-0">
  <li class="mb-1 d-grid">
    <a
    class="btn btn-toggle btn-light d-flex align-items-center rounded align-items-end gap-2"
    href="{% url "scanner" %}"
    >
    <span class="material-icons">qr_code</span> Scanner
  </a>
  </li>
  <li class="mb-1 d-grid">
    <a
      class="btn btn-toggle btn-light d-flex align-items-center rounded align-items-end gap-2"
      href=" {% url "turmas" %} "
    >
      <span class="material-icons">school</span> Turmas
    </a>
  </li>
  <li class="mb-1 d-grid">
    <a
      class="btn btn-toggle btn-light d-flex align-items-center rounded align-items-end gap-2"
      href=" {% url "search-student" %} "
    >
      <span class="material-icons">face</span> Alunos
    </a>
  </li>
  <li class="mb-1 d-grid">
    <button
      class="btn btn-toggle btn btn-light d-flex align-items-center rounded collapsed gap-2"
      data-bs-toggle="collapse"
      data-bs-target="#item-collapse"
      aria-expanded="false"
    >
      <span class="material-icons">keyboard_arrow_down</span> Item
    </button>
    {% include "dropdown-menu.html" %}
  </li>
</ul>
<hr />
<!-- separador acount profile -->
<ul class="list-unstyled ps-0">
  <li class="mb-1 d-grid">
    <a
      class="btn btn-toggle btn-light d-flex align-items-center rounded gap-2"
      href="{% url "account-profile" %}"
    >
      <span class="material-icons">person</span> Perfil
    </a>
  </li>
  <li class="mb-1 d-grid">
    <a
      class="btn btn-toggle btn-light d-flex align-items-center rounded gap-2"
      href=" {% url "account-logout" %} "
    >
      <span class="material-icons">logout</span> Logout
    </a>
  </li>
</ul>
<br />
<hr />
<p class="d-flex justify-content-end">
  <small class="text-muted d-flex justify-content-center-align-items-center"
    ><span class="material-icons">rocket_launch</span> SYS85.in
  </small>
</p>
