<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title mx-2" id="offcanvasRightLabel">
      {% lorem 1 w random %} {% comment %} {{ username }} {% endcomment %}
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>

  <div class="offcanvas-body">
    <hr />
    {% include "menu.html" %}
  </div>
</div>

<nav class="navbar fixed-top bg-body-tertiary">
  <div class="container-fluid">
    <h4>
      <a class="navbar-brand me-auto d-flex align-items-center" href="#">
        <span class="material-icons"> auto_awesome </span> Escola</a
      >
    </h4>
    <button
      class="btn"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasRight"
      aria-controls="offcanvasRight"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
