<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title mx-2" id="offcanvasRightLabel">
      {{ request.user.username }}
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>

  <div class="offcanvas-body">
    <hr />
    {% if request.user.username %} {% include "menu.html" %} {% endif %}
  </div>
</div>

<nav class="navbar fixed-top bg-body-tertiary">
  <div class="container-fluid">
    <h4>
      <a class="navbar-brand me-auto d-flex align-items-center" href="{% url "home" %}">
        <span class="material-icons"> auto_awesome </span> Escola</a
      >
    </h4>
    {% if request.user.username %}
    <button
      class="btn"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasRight"
      aria-controls="offcanvasRight"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    {% endif %}
    {% if not request.user.username %}

    <a
      class="btn btn-outline-primary d-flex align-items-center gap-2"
      href="{% url "account-login" %}"
    >
      <span class="material-icons"> login </span> Login
    </a>
    {% endif %}
  </div>
</nav>
