{% extends "base.html" %}
{% load static %}
{% block content %}

    <div>
        <div id="reader"></div>
    </div>
    <div>
            <input type="text" name="cpf" id="cpf" class="form-control mt-4" required>
            <input type="submit" class="form-control btn btn-dark my-4" value="Pesquisar" onclick="onSearch()">
    </div>

    <script type='text/javascript' src=' {% static "js/html5-qrcode.min.js" %} '></script>
    <script type='text/javascript' src=' {% static "js/qrcode.js" %} '></script>
    <script>
        function onScanSuccess(decodedText, decodedResult) {
            // Handle on success condition with the decoded text or result.
            console.log(`Code matched = ${decodedText}`, decodedResult);
            // enviar o código para o servidor
            window.location.href = decodedText;
        }     

        function onSearch(){
            const cpf = document.getElementById("cpf")
            window.location.href = cpf.value;
        }

      var html5QrcodeScanner = new Html5QrcodeScanner(
      'reader', { fps: 10, qrbox: 250 });
      html5QrcodeScanner.render(onScanSuccess);
      
      var list = document.getElementsByTagName('button')[0];
      list.innerHTML = 'Permitir uso da câmera';  
      
    </script>

{% endblock %}