{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'js/face-api.min.js' %}"></script>
    <style>
        body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        }

        canvas {
        position: absolute;
        }
    </style>
</head>
<body>
    {% csrf_token %}
    <div id="container">
        <video id="video" width="720" height="560" autoplay muted></video>
        <p id="status">Carregando modelos de IA...</p> 
    </div>
     

    <script>
        const video = document.getElementById('video');
        const statusText = document.getElementById('status');
        const MODEL_URL = '{% static "models" %}';

        // 1. Carregar modelos
        Promise.all([
            faceapi.nets.ssdMobilenetv1.loadFromUri(MODEL_URL),
            faceapi.nets.faceLandmark68Net.loadFromUri(MODEL_URL),
            faceapi.nets.faceRecognitionNet.loadFromUri(MODEL_URL),
            faceapi.nets.tinyFaceDetector.loadFromUri(MODEL_URL),
            faceapi.nets.faceExpressionNet.loadFromUri(MODEL_URL) 
        ]).then(startVideo);

        // 2. Iniciar Webcam
        function startVideo() {
            navigator.getUserMedia({ video: {} }, 
            stream => video.srcObject = stream,
            err => console.error(err)
            )
        }
        video.addEventListener('play', () => { 
            const canvas = faceapi.createCanvasFromMedia(video)  
            document.body.append(canvas)
            const displaySize = { width: video.width, height: video.height }
            faceapi.matchDimensions(canvas, displaySize)
            setInterval(async () => {
                const detections = await faceapi.detectSingleFace(video, new faceapi.TinyFaceDetectorOptions()).withFaceLandmarks().withFaceDescriptor();
                const resizedDetections = faceapi.resizeResults(detections, displaySize);
                canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height);
                faceapi.draw.drawDetections(canvas, resizedDetections);
                console.log(detections);
                console.log(detections.descriptor);
                if (
                    detections &&
                    detections.detection &&
                    detections.detection.score > 0.6 &&
                    detections.descriptor
                ) {
                    const descriptorArray = Array.from(detections.descriptor);
                    fetch('{% url "face-recognition" %}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({
                            descriptor: descriptorArray
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if(data.success === 1){
                            //redirecionar para página da famíla 
                            console.log("Usuário reconhecido!"+ data.cpf_hash);
                            window.location.href = '{% url "family-face" %}' + '?cpf_hash=' + data.cpf_hash;
                        } else {
                            statusText.innerText = "Usuário não reconhecido!";
                            //window.location.reload();
                        }})
                    .catch(error => {
                        console.error('Error:', error);
                    });
                } else {
                    statusText.innerText = "Posicione o Rosto na Frente da Câmera";
                }
            }, 500);
        });

        
    </script>
</body>
</html>