{% extends "base.html" %} {% block content %}
<h1>Turmas</h1>
<br>
<form >
<div>
  <select name="ano" class="form-select mb-3"
    hx-include="closest form"
    hx-get="{% url 'turmas-filter' %}" 
    hx-target="#turmas" 
    hx-trigger="change"
  >
    <option value="">Todos os anos</option>
    {% for ano in anos %}
    <option value="{{ ano }}">{{ ano }}</option>
    {% endfor %}
  </select>
</div>
<div class="mb-3">
  <input 
    type="text" 
    id="search-turma" 
    name="search-turma"
    class="form-control" 
    placeholder="Filtrar turmas..." 
    hx-include="closest form"
    hx-get="{% url 'turmas-filter' %}" 
    hx-target="#turmas" 
    hx-trigger="keyup changed delay:500ms" 
  />
</div>
</form>
<div id="turmas">
    {% include "turmas-filter.html" %}
</div>
{% endblock %}
